@tailwind base;
@tailwind components;
@tailwind utilities;

.js-dark-mode-animation {
  transition: 1s ease background-color, color 0.2s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.fade {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.fade.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}
